dist/definir-campanas.html
<!DOCTYPE html>
<!--if IE 9html.no-js.lt-ie10(lang='es')  
-->
<html lang="es" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="images/imagen.jpg">
    <link rel="shortcut icon" type="image/x-icon" href="files/favicon.ico">
    <title> Usuario B1</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cormorant:300,300i,400,400i,500,500i,600,600i,700,700i">
    <link rel="stylesheet" type="text/css" href="css/plugins.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>
    <!-- include html layoud here-->
    <main class="main">
      <header class="header">
        <div class="nav">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="nohover line-right">Jairo Machuca Cóndor</a></li>
            <li class="noti"><a class="nohover ico ico_notificaciones"></a></li>
            <li class="active"><a class="nohover ico cerrar_sesion"></a></li>
          </ul>
        </div>
      </header>
      <aside class="nav_layout">     
        <div class="col-xs-2"><img src="images/1x_img_logo_belcorp-newel.png" class="logo"></div>
        <div class="col-xs-10">   
          <div class="col-xs-6">
            <div class="line-bottom"></div>
          </div>
          <div class="col-xs-6">
            <ul class="nav navbar-nav navbar-right ul_layout">
              <li class="active"><a href="user-id-proyectos.html">Proyectos</a></li>
              <li><a href="#">Reportes</a></li>
              <li><a href="#">Notificaciones</a></li>
              <li><a data-toggle="dropdown" class="dropdown-toggle">Configuración
                  <ul class="dropdown-menu">
                    <li><a href="#">Momentos      </a></li>
                  </ul></a></li>
            </ul>
          </div>
        </div>
        <nav class="col-xs-10 content-btn">
          <ul class="nav navbar-nav pull-right">
            <li class="menu-item active"><a href="#" data="assign-moment" class="btn btn-block btn-signin btn_belcorp_lila btn_login hvr-wobble-vertical">Asignar momento</a></li>
            <li class="menu-item view-tooltip"><a href="user-id-inconsistencias.html" data="0" class="btn btn-block btn-signin btn_belcorp_lila btn_login hvr-wobble-vertical">Ver Inconsistencias</a>
              <div class="tooltip mensaje_tooltip arrow_box">
                <p class="text-center">Para realizar esta acción, debe seleccionar al menos un campo                  </p>
                <p class="text-center">
                  <input type="checkbox" class="icheck">
                </p>
              </div>
            </li>
            <li class="menu-item"><a href="#" data="close-moment" class="btn btn-block btn-signin btn_belcorp_lila btn_login hvr-wobble-vertical">Cerrar Momento</a></li>
            <li class="menu-item"><a href="#" data="0" class="btn btn-block btn-signin btn_belcorp_lila btn_login hvr-wobble-vertical">Estimar</a></li>
            <li class="menu-item"><a href="#" data="assign-responsibility" class="btn btn-block btn-signin btn_belcorp_lila btn_login hvr-wobble-vertical">Asignar Responsable</a></li>
            <li class="menu-item"><a href="#" data="0" class="btn btn-block btn-signin btn_belcorp_lila btn_login hvr-wobble-vertical">Asignar Cuc para CC/EDL</a></li>
          </ul>
        </nav>
      </aside>
      <div class="filter">
        <div class="btn_filter"><span class="ico ico_filtro"> </span></div>
        <h2 class="title text-center">Filtros</h2>
        <form class="form-filtro">
          <div class="form-group">
            <label class="label_general">Ingrese usuario</label>
            <input type="text" placeholder="Ingrese usuario" class="form-control text_line">
          </div>
          <div class="form-group">
            <label class="label_general">Categorías</label>
            <select class="form-control select_line">
              <option>2016</option>
              <option>2015</option>
              <option>2014</option>
            </select>
          </div>
          <div class="form-group">
            <label class="label_general">Año de Lanzamiento</label>
            <select class="form-control select_line">
              <option>2016</option>
              <option>2015</option>
              <option>2014</option>
            </select>
          </div>
          <div class="form-group">
            <label class="label_general">Momento</label>
            <select class="form-control select_line">
              <option>2016</option>
              <option>2015</option>
              <option>2014</option>
            </select>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn_filtro btn-primary btn-block color_lila hvr-wobble-vertical">Aplicar Filtros</button>
          </div>
        </form>
      </div>
      <!--include html layoud here-->
      <div class="content-secuencias">
        <ul>
          <li><span class="ico ico_flecha flech"></span></li>
          <li class="active"><span class="check-on visto">&#160;&#160; </span><a>
                      
              Definir Campañas<br>del Producto</a></li>
          <li class="active"><span class="check-on">2</span><a>Definir Precios Normal<br>y Costos del Producto</a></li>
          <li><span class="check-on">3</span><a>Definir Precio de<br>Oferta y Dscto</a></li>
          <li><span class="check-on">4</span><a>Descargar Herramientas<br>Excel de Estimación</a></li>
          <li><span class="check-on">5</span><a>Cargar<br>Estimados</a></li>
          <li><span class="check-on">6</span><a>Detallar<br>Tonos</a></li>
          <li><span class="check-on">7</span><a>Detallar<br>Muestras         </a></li>
        </ul>
      </div>
      <div class="content-table">
        <div class="col-xs-6">
          <h3 class="text-center title_definir"><span>Comparable de precio normal</span></h3>
          <table class="pull-right nomargin">
            <thead>
              <tr>
                <th>
                  <input type="checkbox" checked class="icheck">
                </th>
                <th>País</th>
                <th>Genérico</th>
                <th>Descripción</th>
                <th>Último PN en MN</th>
                <th>Último PN en Dólares</th>
                <th>Precio Normal del Nuevo MN          </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td class="no-border">Cyzone</td>
                <td>FR</td>
                <td>$$$$</td>
                <td>@nombre</td>
                <td>Nuevo</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td class="no-border">Cyzone</td>
                <td>FR</td>
                <td>$$$$</td>
                <td>@nombre</td>
                <td>Nuevo</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td class="no-border">Cyzone</td>
                <td>FR</td>
                <td>$$$$</td>
                <td>@nombre</td>
                <td>Nuevo</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td class="no-border">Cyzone</td>
                <td>FR</td>
                <td>$$$$</td>
                <td>@nombre</td>
                <td>Nuevo</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td class="no-border">Cyzone</td>
                <td>FR</td>
                <td>$$$$</td>
                <td>@nombre</td>
                <td>Nuevo</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td class="no-border">Cyzone</td>
                <td>FR</td>
                <td>$$$$</td>
                <td>@nombre</td>
                <td>Nuevo</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td class="no-border">Cyzone</td>
                <td>FR</td>
                <td>$$$$</td>
                <td>@nombre</td>
                <td>Nuevo</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td class="no-border">Cyzone</td>
                <td>FR</td>
                <td>$$$$</td>
                <td>@nombre</td>
                <td>Nuevo</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td class="no-border">Cyzone</td>
                <td>FR</td>
                <td>$$$$</td>
                <td>@nombre</td>
                <td>Nuevo</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-6">
          <h3 class="text-left title_definir"><span>Comparable de costo</span></h3>
          <table class="pull-left">
            <thead>
              <tr>
                <th>Genérico</th>
                <th>Descripción</th>
                <th>Costo en MN</th>
                <th>Costo en Dólares</th>
                <th>Costo en SAP MN</th>
                <th>Costo en SAP Dólares</th>
                <th>Costo del Nuevo Dólares (Objetivo)        </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="no-border">045019001</td>
                <td>CZ TRUE</td>
                <td>$ 1.50</td>
                <td>$ 1.50</td>
                <td></td>
              </tr>
              <tr>
                <td class="no-border">045019001</td>
                <td>CZ TRUE</td>
                <td>$ 1.50</td>
                <td>$ 1.50</td>
                <td></td>
              </tr>
              <tr>
                <td class="no-border">045019001</td>
                <td>CZ TRUE</td>
                <td>$ 1.50</td>
                <td>$ 1.50</td>
                <td></td>
              </tr>
              <tr>
                <td class="no-border">045019001</td>
                <td>CZ TRUE</td>
                <td>$ 1.50</td>
                <td>$ 1.50</td>
                <td></td>
              </tr>
              <tr>
                <td class="no-border">045019001</td>
                <td>CZ TRUE</td>
                <td>$ 1.50</td>
                <td>$ 1.50</td>
                <td></td>
              </tr>
              <tr>
                <td class="no-border">045019001</td>
                <td>CZ TRUE</td>
                <td>$ 1.50</td>
                <td>$ 1.50</td>
                <td></td>
              </tr>
              <tr>
                <td class="no-border">045019001</td>
                <td>CZ TRUE</td>
                <td>$ 1.50</td>
                <td>$ 1.50</td>
                <td></td>
              </tr>
              <tr>
                <td class="no-border">045019001</td>
                <td>CZ TRUE</td>
                <td>$ 1.50</td>
                <td>$ 1.50</td>
                <td></td>
              </tr>
              <tr>
                <td class="no-border">045019001</td>
                <td>CZ TRUE</td>
                <td>$ 1.50</td>
                <td>$ 1.50</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
    <div class="overlay">
      <!-- Layer Asignar Momento - Usuario ID-->
      <div class="layer assign-moment"><a href="javascript:void(0)" class="btn-close"></a>
        <h3>Asignar Momento</h3>
        <div class="content-table">
          <table class="table-layer">
            <thead>
              <tr>
                <th> 
                  <input type="checkbox" checked class="icheck">
                </th>
                <th>Momento</th>
                <th>Bloque</th>
                <th>Descripción</th>
                <th>Abreviatura</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td>Momento 1</td>
                <td>Bloque</td>
                <td>Momento - Bloque</td>
                <td>M1 - B1</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td>Momento 2</td>
                <td>Bloque</td>
                <td>Momento - Bloque</td>
                <td>M1 - B1</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td>Momento 3</td>
                <td>Bloque</td>
                <td>Momento - Bloque</td>
                <td>M1 - B1</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td>Momento 4</td>
                <td>Bloque</td>
                <td>Momento - Bloque</td>
                <td>M1 - B1</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td>Momento 5</td>
                <td>Bloque</td>
                <td>Momento - Bloque</td>
                <td>M1 - B1</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td>Momento 6</td>
                <td>Bloque</td>
                <td>Momento - Bloque</td>
                <td>M1 - B1</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td>Momento 7</td>
                <td>Bloque</td>
                <td>Momento - Bloque</td>
                <td>M1 - B1</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td>Momento 8</td>
                <td>Bloque</td>
                <td>Momento - Bloque</td>
                <td>M1 - B1</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="content-alert">El momento 1 ya fue asignado.<br>¿Desea asignar nuevamente?</div><a href="#" class="btn-action">Asignar momento</a>
      </div>
      <!-- Layer Cerrar Momento - Usuario ID-->
      <div class="layer close-moment"><a href="javascript:void(0)" class="btn-close"></a>
        <h3>Cerrar Momento</h3>
        <div class="content-table">
          <table class="table-layer">
            <thead>
              <tr>
                <th> 
                  <input type="checkbox" checked class="icheck">
                </th>
                <th>Momento</th>
                <th>Bloque</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td>Momento 1</td>
                <td>Bloque</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td>Momento 2</td>
                <td>Bloque</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td>Momento 3</td>
                <td>Bloque</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td>Momento 4</td>
                <td>Bloque</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td>Momento 5</td>
                <td>Bloque</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td>Momento 6</td>
                <td>Bloque</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td>Momento 7</td>
                <td>Bloque</td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" checked class="icheck">
                </td>
                <td>Momento 8</td>
                <td>Bloque</td>
              </tr>
            </tbody>
          </table>
        </div><a href="#" class="btn-action">Cerrar momento</a>
      </div>
      <!-- Layer Asignar responsable - Usuario BI-->
      <div class="layer assign-responsibility"><a href="javascript:void(0)" class="btn-close"></a>
        <h3>Asignar responsable</h3>
        <div class="content-search">
          <label>Buscar usuario</label>
          <input id="txtSearch" name="txtSearch" placeholder="Buscar">
        </div>
        <div class="content-table">
          <table id="assign-responsibility">
            <thead>
              <tr>
                <th>Usuarios</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Jorge Manuel Hinostroza Medina</td>
              </tr>
              <tr>
                <td>Javier Eduardo Ramirez Campos</td>
              </tr>
              <tr>
                <td>Jorge Manuel Hinostroza Medina</td>
              </tr>
              <tr>
                <td>Javier Eduardo Ramirez Campos</td>
              </tr>
              <tr>
                <td>Jorge Manuel Hinostroza Medina</td>
              </tr>
              <tr>
                <td>Javier Eduardo Ramirez Campos</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="content-alert">El momento 1 ya fue asignado.<br>¿Desea asignar nuevamente?</div><a href="#" class="btn-action">Asignar</a>
      </div>
      <!-- Layer Registrar Momento - Usuario ID-->
      <div class="layer register-moment"><a href="javascript:void(0)" class="btn-close"></a>
        <h3>Registrar Momento</h3>
        <div class="content-table">
          <div class="row">
            <div class="col-xs-6">
              <label>Momento</label>
              <input>
            </div>
            <div class="col-xs-6">
              <label>Bloque</label>
              <input>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <label>Descripción</label>
              <input>
            </div>
            <div class="col-xs-6">
              <label>Abreviatura</label>
              <input>
            </div>
          </div>
        </div><a href="#" class="btn-action">Registrar momento</a>
      </div>
      <!-- Layer Momentos asignados - Usuario ID-->
      <div class="layer moments-assigned"><a href="javascript:void(0)" class="btn-close"></a>
        <h3>Momentos asignados</h3>
        <div class="content-table">
          <table class="table-layer">
            <thead>
              <tr>
                <th>Momento</th>
                <th>Bloque</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Momento 1</td>
                <td>Bloque</td>
              </tr>
              <tr>
                <td>Momento 2</td>
                <td>Bloque</td>
              </tr>
              <tr>
                <td>Momento 3</td>
                <td>Bloque</td>
              </tr>
              <tr>
                <td>Momento 4</td>
                <td>Bloque</td>
              </tr>
              <tr>
                <td>Momento 5</td>
                <td>Bloque</td>
              </tr>
              <tr>
                <td>Momento 6</td>
                <td>Bloque</td>
              </tr>
              <tr>
                <td>Momento 7</td>
                <td>Bloque</td>
              </tr>
              <tr>
                <td>Momento 8</td>
                <td>Bloque</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="js/plugins.js" type="text/javascript"></script>
    <script src="js/scripts.js" type="text/javascript"></script>
  </body>
</html>

source/jade/definir-campanas.jade
extends templates/base
block title
  | Usuario B1
block main-content
  .content-secuencias
    ul
      li
        span.ico.ico_flecha.flech
      li.active
        span.check-on.visto &#160;&#160; 
        a         
         | Definir Campañas
         br
         | del Producto
      li.active
        span.check-on 2
        a
         | Definir Precios Normal
         br
         | y Costos del Producto
      li
        span.check-on 3
        a
         | Definir Precio de
         br
         | Oferta y Dscto
      li
        span.check-on 4
        a
         | Descargar Herramientas
         br
         | Excel de Estimación
      li
        span.check-on 5
        a
         | Cargar
         br
         | Estimados
      li
        span.check-on 6
        a
         | Detallar
         br
         | Tonos
      li
        span.check-on 7
        a
         | Detallar
         br
         | Muestras         
  div.content-table
    .col-xs-6
      h3.text-center.title_definir
        span
          | Comparable de precio normal
      table.pull-right.nomargin
        thead
          tr
            th
              input.icheck(type="checkbox", checked)
            th País
            th Genérico
            th Descripción
            th Último PN en MN
            th Último PN en Dólares
            th Precio Normal del Nuevo MN          
        tbody
          - for (var x = 1; x <= 9; x++)
            tr
              td
                input.icheck(type="checkbox", checked)
              td.no-border Cyzone
              td FR
              td $$$$
              td @nombre
              td Nuevo
    .col-xs-6
      h3.text-left.title_definir
        span
          | Comparable de costo
      table.pull-left
        thead
          tr
            th Genérico
            th Descripción
            th Costo en MN
            th Costo en Dólares
            th Costo en SAP MN
            th Costo en SAP Dólares
            th Costo del Nuevo Dólares (Objetivo)        
        tbody
          - for (var x = 1; x <= 9; x++)
            tr
              td.no-border 045019001
              td CZ TRUE
              td $ 1.50
              td $ 1.50
              td
