dist/filter.html

<div class="filter">
  <div class="btn_filter"><span class="ico ico_filtro"> </span></div>
  <h2 class="title text-center">Filtros</h2>
  <form class="form-filtro">
    <div class="form-group">
      <label class="label_general">Ingrese usuario</label>
      <input type="text" placeholder="Ingrese usuario" class="form-control text_line"/>
    </div>
    <div class="form-group">
      <label class="label_general">Categorías</label>
      <select class="form-control select_line">
        <option>2016</option>
        <option>2015</option>
        <option>2014</option>
      </select>
    </div>
    <div class="form-group">
      <label class="label_general">Año de Lanzamiento</label>
      <select class="form-control select_line">
        <option>2016</option>
        <option>2015</option>
        <option>2014</option>
      </select>
    </div>
    <div class="form-group">
      <label class="label_general">Momento</label>
      <select class="form-control select_line">
        <option>2016</option>
        <option>2015</option>
        <option>2014</option>
      </select>
    </div>
    <div class="form-group text-center">
      <button type="submit" class="btn btn_filtro btn-primary btn-block color_lila hvr-wobble-vertical">Aplicar Filtros</button>
    </div>
  </form>
</div>

source/jade/filter.jade
.filter
  .btn_filter
    span.ico.ico_filtro 
  h2.title.text-center
    | Filtros
  form.form-filtro
    .form-group
      label.label_general
        | Ingrese usuario
      input.form-control.text_line(type='text', placeholder='Ingrese usuario') 
    .form-group
      label.label_general
        | Categorías
      select.form-control.select_line
        option 2016
        option 2015
        option 2014
    .form-group
      label.label_general
        | Año de Lanzamiento
      select.form-control.select_line
        option 2016
        option 2015
        option 2014
    .form-group
      label.label_general
        | Momento
      select.form-control.select_line
        option 2016
        option 2015
        option 2014
    .form-group.text-center
      button.btn.btn_filtro.btn-primary.btn-block.color_lila.hvr-wobble-vertical(type='submit') Aplicar Filtros
