dist/layers.html

<div class="overlay">
  <!-- Layer Asignar Momento - Usuario ID-->
  <div class="layer assign-moment"><a href="javascript:void(0)" class="btn-close"></a>
    <h3>Asignar Momento</h3>
    <div class="content-table">
      <table class="table-layer">
        <thead>
          <tr>
            <th> 
              <input type="checkbox" checked="checked" class="icheck"/>
            </th>
            <th>Momento</th>
            <th>Bloque</th>
            <th>Descripción</th>
            <th>Abreviatura</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="checkbox" checked="checked" class="icheck"/>
            </td>
            <td>Momento 1</td>
            <td>Bloque</td>
            <td>Momento - Bloque</td>
            <td>M1 - B1</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked="checked" class="icheck"/>
            </td>
            <td>Momento 2</td>
            <td>Bloque</td>
            <td>Momento - Bloque</td>
            <td>M1 - B1</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked="checked" class="icheck"/>
            </td>
            <td>Momento 3</td>
            <td>Bloque</td>
            <td>Momento - Bloque</td>
            <td>M1 - B1</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked="checked" class="icheck"/>
            </td>
            <td>Momento 4</td>
            <td>Bloque</td>
            <td>Momento - Bloque</td>
            <td>M1 - B1</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked="checked" class="icheck"/>
            </td>
            <td>Momento 5</td>
            <td>Bloque</td>
            <td>Momento - Bloque</td>
            <td>M1 - B1</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked="checked" class="icheck"/>
            </td>
            <td>Momento 6</td>
            <td>Bloque</td>
            <td>Momento - Bloque</td>
            <td>M1 - B1</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked="checked" class="icheck"/>
            </td>
            <td>Momento 7</td>
            <td>Bloque</td>
            <td>Momento - Bloque</td>
            <td>M1 - B1</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked="checked" class="icheck"/>
            </td>
            <td>Momento 8</td>
            <td>Bloque</td>
            <td>Momento - Bloque</td>
            <td>M1 - B1</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="content-alert">El momento 1 ya fue asignado.<br/>¿Desea asignar nuevamente?</div><a href="#" class="btn-action">Asignar momento</a>
  </div>
  <!-- Layer Cerrar Momento - Usuario ID-->
  <div class="layer close-moment"><a href="javascript:void(0)" class="btn-close"></a>
    <h3>Cerrar Momento</h3>
    <div class="content-table">
      <table class="table-layer">
        <thead>
          <tr>
            <th> 
              <input type="checkbox" checked="checked" class="icheck"/>
            </th>
            <th>Momento</th>
            <th>Bloque</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="checkbox" checked="checked" class="icheck"/>
            </td>
            <td>Momento 1</td>
            <td>Bloque</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked="checked" class="icheck"/>
            </td>
            <td>Momento 2</td>
            <td>Bloque</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked="checked" class="icheck"/>
            </td>
            <td>Momento 3</td>
            <td>Bloque</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked="checked" class="icheck"/>
            </td>
            <td>Momento 4</td>
            <td>Bloque</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked="checked" class="icheck"/>
            </td>
            <td>Momento 5</td>
            <td>Bloque</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked="checked" class="icheck"/>
            </td>
            <td>Momento 6</td>
            <td>Bloque</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked="checked" class="icheck"/>
            </td>
            <td>Momento 7</td>
            <td>Bloque</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" checked="checked" class="icheck"/>
            </td>
            <td>Momento 8</td>
            <td>Bloque</td>
          </tr>
        </tbody>
      </table>
    </div><a href="#" class="btn-action">Cerrar momento</a>
  </div>
  <!-- Layer Asignar responsable - Usuario BI-->
  <div class="layer assign-responsibility"><a href="javascript:void(0)" class="btn-close"></a>
    <h3>Asignar responsable</h3>
    <div class="content-search">
      <label>Buscar usuario</label>
      <input id="txtSearch" name="txtSearch" placeholder="Buscar"/>
    </div>
    <div class="content-table">
      <table id="assign-responsibility">
        <thead>
          <tr>
            <th>Usuarios</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Jorge Manuel Hinostroza Medina</td>
          </tr>
          <tr>
            <td>Javier Eduardo Ramirez Campos</td>
          </tr>
          <tr>
            <td>Jorge Manuel Hinostroza Medina</td>
          </tr>
          <tr>
            <td>Javier Eduardo Ramirez Campos</td>
          </tr>
          <tr>
            <td>Jorge Manuel Hinostroza Medina</td>
          </tr>
          <tr>
            <td>Javier Eduardo Ramirez Campos</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="content-alert">El momento 1 ya fue asignado.<br/>¿Desea asignar nuevamente?</div><a href="#" class="btn-action">Asignar</a>
  </div>
  <!-- Layer Registrar Momento - Usuario ID-->
  <div class="layer register-moment"><a href="javascript:void(0)" class="btn-close"></a>
    <h3>Registrar Momento</h3>
    <div class="content-table">
      <div class="row">
        <div class="col-xs-6">
          <label>Momento</label>
          <input/>
        </div>
        <div class="col-xs-6">
          <label>Bloque</label>
          <input/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <label>Descripción</label>
          <input/>
        </div>
        <div class="col-xs-6">
          <label>Abreviatura</label>
          <input/>
        </div>
      </div>
    </div><a href="#" class="btn-action">Registrar momento</a>
  </div>
  <!-- Layer Momentos asignados - Usuario ID-->
  <div class="layer moments-assigned"><a href="javascript:void(0)" class="btn-close"></a>
    <h3>Momentos asignados</h3>
    <div class="content-table">
      <table class="table-layer">
        <thead>
          <tr>
            <th>Momento</th>
            <th>Bloque</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Momento 1</td>
            <td>Bloque</td>
          </tr>
          <tr>
            <td>Momento 2</td>
            <td>Bloque</td>
          </tr>
          <tr>
            <td>Momento 3</td>
            <td>Bloque</td>
          </tr>
          <tr>
            <td>Momento 4</td>
            <td>Bloque</td>
          </tr>
          <tr>
            <td>Momento 5</td>
            <td>Bloque</td>
          </tr>
          <tr>
            <td>Momento 6</td>
            <td>Bloque</td>
          </tr>
          <tr>
            <td>Momento 7</td>
            <td>Bloque</td>
          </tr>
          <tr>
            <td>Momento 8</td>
            <td>Bloque</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

source/jade/layers.jade
div.overlay
  
  // Layer Asignar Momento - Usuario ID
  div.layer.assign-moment
    a.btn-close(href="javascript:void(0)")
    h3 Asignar Momento
    div.content-table
      table.table-layer
        thead
          tr
            th 
              input.icheck(type="checkbox", checked)
            th Momento
            th Bloque
            th Descripción
            th Abreviatura
        tbody
          - for (var x = 1; x <= 8; x++)
              tr
                td
                  input.icheck(type="checkbox", checked)
                td Momento #{x}
                td Bloque
                td Momento - Bloque
                td M1 - B1
    div.content-alert
      |El momento 1 ya fue asignado.
      br
      |¿Desea asignar nuevamente?
    a.btn-action(href="#") Asignar momento

  // Layer Cerrar Momento - Usuario ID
  div.layer.close-moment
    a.btn-close(href="javascript:void(0)")
    h3 Cerrar Momento
    div.content-table
      table.table-layer
        thead
          tr
            th 
              input.icheck(type="checkbox", checked)
            th Momento
            th Bloque
        tbody
          - for (var x = 1; x <= 8; x++)
              tr
                td
                  input.icheck(type="checkbox", checked)
                td Momento #{x}
                td Bloque
    a.btn-action(href="#") Cerrar momento

  // Layer Asignar responsable - Usuario BI
  div.layer.assign-responsibility
    a.btn-close(href="javascript:void(0)")
    h3 Asignar responsable
    div.content-search
      label Buscar usuario
      input(id="txtSearch", name="txtSearch", placeholder="Buscar")
    div.content-table
      table#assign-responsibility
        thead
          tr
            th Usuarios
        tbody
          - for (var x = 1; x <= 3; x++)
              tr
                td Jorge Manuel Hinostroza Medina
              tr
                td Javier Eduardo Ramirez Campos
    div.content-alert
      |El momento 1 ya fue asignado.
      br
      |¿Desea asignar nuevamente?
    a.btn-action(href="#") Asignar

  // Layer Registrar Momento - Usuario ID
  div.layer.register-moment
    a.btn-close(href="javascript:void(0)")
    h3 Registrar Momento
    div.content-table
      div.row
        div.col-xs-6
          label Momento
          input
        div.col-xs-6
          label Bloque
          input
      div.row
        div.col-xs-6
          label Descripción
          input
        div.col-xs-6
          label Abreviatura
          input
    a.btn-action(href="#") Registrar momento

  // Layer Momentos asignados - Usuario ID
  div.layer.moments-assigned
    a.btn-close(href="javascript:void(0)")
    h3 Momentos asignados
    div.content-table
      table.table-layer
        thead
          tr
            th Momento
            th Bloque
        tbody
          - for (var x = 1; x <= 8; x++)
              tr
                td Momento #{x}
                td Bloque
