source/jade/templates/sections/login.jade
.login_layout
  .container
    .row
      .col-xs-12
        .col-xs-4
        .col-xs-4
          .card.card-container
            img#profile-img.img-responsive.profile-img-card(src='images/1x_img_logo_belcorp-newel.png')
            form.form-signin
              .form-group
                label.label-login(for='usuario') usuario:
                input#user.form-control.text_line.usuario(type='text', value='', placeholder='Ingrese usuario', required='', autofocus='')
              .form-group
                label.label-login(for='password') contraseña:
                input#password.form-control.text_line.password(type='password', value='', placeholder='Ingrese contraseña', required='')
                br
                button.btn.btn-lg.btn-primary.btn-block.btn-signin.color_lila.btn_belcorp_lila.btn_login.hvr-wobble-vertical(type='submit') Iniciar sesión
        .col-xs-4
  

dist/login.html
<!DOCTYPE html>
<!--if IE 9html.no-js.lt-ie10(lang='es')  
-->
<html lang="es" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="images/imagen.jpg">
    <link rel="shortcut icon" type="image/x-icon" href="files/favicon.ico">
    <title> Login</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cormorant:300,300i,400,400i,500,500i,600,600i,700,700i">
    <link rel="stylesheet" type="text/css" href="css/plugins.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>
    <div class="login_layout">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
              <div class="card card-container"><img id="profile-img" src="images/1x_img_logo_belcorp-newel.png" class="img-responsive profile-img-card">
                <form class="form-signin">
                  <div class="form-group">
                    <label for="usuario" class="label-login">usuario:</label>
                    <input id="user" type="text" value="" placeholder="Ingrese usuario" required="" autofocus="" class="form-control text_line usuario">
                  </div>
                  <div class="form-group">
                    <label for="password" class="label-login">contraseña:</label>
                    <input id="password" type="password" value="" placeholder="Ingrese contraseña" required="" class="form-control text_line password"><br>
                    <button type="submit" class="btn btn-lg btn-primary btn-block btn-signin color_lila btn_belcorp_lila btn_login hvr-wobble-vertical">Iniciar sesión</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-xs-4"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/plugins.js" type="text/javascript"></script>
    <script src="js/scripts.js" type="text/javascript"></script>
  </body>
</html>
